    .fl {
        float: left;
    }
    .fix {
        *zoom: 1;
    }
    .fix:after {
        display: table;
        content: '';
        clear: both;
    }
    .tabContainer {}
    .tabContainer ul {
        list-style: none;
        margin: 0;
        padding: 0 0 0 20px;
    }
    .tabContainer a {
        text-decoration: none;
    }
    .tab-menu {
        overflow: hidden;
    }
    .tab-menu-item {
        float: left;
    }
    .tab-menu-item a {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        color: #333;
        overflow: hidden;
    }
    .tab-menu-current {
        background-color: #fff !important;
        color: #333;
    }
    .tab-menu-item {
        position: relative;
        margin-right: 12px;
        padding: 0 24px 0;
        z-index: 2;
        background-color: #eee;
    }
    .tab-menu-item:before,
    .tab-menu-item:after {
        display: block;
        content: " ";
        position: absolute;
        top: 0;
        height: 100%;
        width: 25px;
        background-color: #eee;
    }
    .tab-menu-item:before {
        left: -7px;
        transform: skew(-30deg, 0deg);
        box-shadow: rgba(0, 0, 0, .1) -3px 2px 5px, inset rgba(255, 255, 255, .09) -1px 0;
    }
    .tab-menu-item:after {
        right: -7px;
        transform: skew(30deg, 0deg);
        box-shadow: rgba(0, 0, 0, .1) 3px 2px 5px, inset rgba(255, 255, 255, .09) 1px 0;
    }
    .tab-menu-current {
        z-index: 99;
    }
    .tab-menu-current:before,
    .tab-menu-current:after {
        background-color: #FFF;
    }
    
    .tab-menu-item:hover,
    .tab-menu-item:hover:before,
    .tab-menu-item:hover:after {
        background-color: #fff;
    }
    .tab-box {}
    .tab-box-close {
        height: 14px;
        width: 14px;
        display: inline-block;
        cursor: pointer;
        margin: 5px 0 0 5px;
    }
    .tab-box-hide {
        display: none;
    }